<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!-- PARA XAMPP / WAMP (localhost) -->
		<add name="NexumDB"
			 connectionString="server=localhost;port=3306;database=NexumDB;uid=root;pwd=;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.EntityFramework.MySqlProviderServices, MySql.Data.EntityFramework" />
		</providers>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".NET Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
		</DbProviderFactories>
	</system.data>
</configuration>